absl-py==2.4.0
Adafruit-Blinka==8.46.1
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-mcp4728==1.3.9
adafruit-circuitpython-requests==4.1.4
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.72.1
Adafruit-PureIO==1.1.11
approxeng.input==2.6.4
astunparse==1.6.3
binho-host-adapter==0.1.6
board==1.0
certifi==2026.5.20
charset-normalizer==3.4.7
colorzero==2.0
evdev==1.6.1
face-detection-tflite==0.6.0
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
GP8XXX_IIC==0.0.4
gpiozero==2.0.1
grpcio==1.81.1
h5py==3.14.0
idna==3.18
keras==3.14.1
lgpio==0.2.2.0
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==1.26.4
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pillow==12.2.0
protobuf==7.35.1
pulsectl==24.11.0
pulsectl-asyncio==1.2.2
pyftdi==0.55.4
pygame==2.6.1
Pygments==2.20.0
pyserial==3.5
pyttsx4==3.0.15
pyusb==1.2.1
PyYAML==6.0.1
requests==2.34.2
rich==15.0.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
scipy==1.15.2
six==1.17.0
smbus2==0.6.1
sysv_ipc==1.1.0
tensorflow==2.21.0
termcolor==3.3.0
tflite-runtime==2.14.0
typing_extensions==4.12.2
urllib3==2.7.0
wrapt==2.2.1